@import "base/base";
@import "base/reset";
@import "mixin/color";
@import "mixin/font";
@import "mixin/media";

//コメントフォーム
.comment-form{
  &__inner {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 40px;
  }
  &__title {
    font-weight: bold;
    font-size: 3.0rem;
    margin-bottom: 10px;
  }
  &__text-area {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    font-size: 2rem;
    height: 100px;
    margin-bottom: 15px;
    @include mq(s) {
        width: 100%;
        height: 200px;
    }
    &:focus{
      border: 2px solid blue;
      z-index: 10;
      outline: 0;
      }
    }
  &__btn {
    text-align: center;
    color: cl(white);
    background:  blue;
    width: 120px;
    padding: 8px 0 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}

//コメント一覧
.comments{
  &__inner {
    display: block;
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 70px;
  }
  &__user-name{
    font-size: 2.0rem;
  }
}

//コメント
.comment{
  &__user-name{
    font-size: 2.0rem;
  }
  &__table-row1{
    width: 610px;
    font-size: 2.0rem;
    word-break: break-all;
    @include mq(s) {
      font-size: 1.7rem;
    }
  }
  &__table-row2{
    width: 40px;
    
  }
  &__items{
    display: flex;
    float: right;
    @include mq(s) {
      float: left;
  }
  }
  &__item{
    margin-left: 2px;
  }
  &__img{
    width: 32px;
  }
}