<!-- シューズ一覧 -->
<% content_for(:title, t('.title')) %>
<div class="shoes-list">
  <div class="shoes-list__inner">
    <h2 class="shoes-list__title"><%= t '.title' %></h2>
    <p class="shoes-list__explanation">下の4つの項目にご回答していただくと、おすすめシューズが表示されます。</p>
    <div>
      <%= render 'search_form', url: shoes_path %>
    </div>
    <div class="shoes-list__items-inner">
      <div class="shoes-list__item">
        <% if @shoes.present? %>
          <%= render @shoes %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
