<div class="shoes-detail">
  <div id="shoe-id-<%= @shoe.id %>">
    <div class="shoes-detail__inner">
      <h1 class="shoes-detail__title">シューズ詳細</h1>
      <!-- 掲示板内容 -->
        <div class="shoes-detail__img">
          <a href=<%= @shoe.url %> target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"  ><img src=<%= @shoe.img_url %> border="0" style="margin:2px" alt="" title=""></a>
        </div>
        <div class="shoes-detail__causion">
          ※上記画像をクリックすると<br>楽天商品ページへと移動します
        </div>
        <h2 class="shoes-detail__name"><%= @shoe.name %></h2>
      </div>
    </div>
  </div>
</div>